# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config UDC_RPI_PICO
	bool "Raspberry Pi Pico USB device controller driver"
	default y
	depends on DT_HAS_ZEPHYR_UDC_RPI_PICO_ENABLED
	help
	  Skeleton for an USB device controller driver.

config UDC_RPI_PICO_STACK_SIZE
	int "UDC controller driver internal thread stack size"
	depends on UDC_RPI_PICO
	default 512
	help
	  Raspberry Pi Pico device controller driver internal thread stack size.

config UDC_RPI_PICO_THREAD_PRIORITY
	int "Raspberry Pi Pico controller driver thread priority"
	depends on UDC_RPI_PICO
	default 8
	help
	  Raspberry Pi Pico device controller driver thread priority.

